@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#12031f] text-slate-100;
  font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

#root {
  min-height: 100vh;
}
